{% extends "outline.html" %}

{% block head %}{% endblock %}

{% block jscript %}

{% endblock %}


{% block content %}
<div id="container" style="padding-left: 5%; padding-top 15%;padding-right: 5%;width:100%"> 

<h3> Name </h3>
  <div id="name" style="padding-left: 6%;">
     SMB Linux Job Dashboard
  </div>


<h3> Description </h3>
  <div id="description" style="padding-left: 6%;">
	<b>SMB Linux Job Dashboard</b> is a tool to display daily job assignments and view historical assignment data 
  </div>

<h3> Source </h3>
{% include 'source.html' %}


</div> <!-- end container div -->

{% endblock %}

